<mat-toolbar>
    <button
        mat-button
        class="nav-button"
        aria-label="Facility management button"
    >
        <mat-icon class="material-icons-round">apps</mat-icon>
        <span *ngIf="(notMobile$ | async)?.matches">
            Overview
        </span>
    </button>
    <button
        mat-button
        class="nav-button"
        aria-label="Facility management button"
    >
        <mat-icon class="material-icons-round">account_tree</mat-icon>
        <span *ngIf="(notMobile$ | async)?.matches">
            Management
        </span>
    </button>
    <button
        mat-button
        class="nav-button"
        aria-label="Facility management button"
    >
        <mat-icon class="material-icons-round">insights</mat-icon>
        <span *ngIf="(notMobile$ | async)?.matches">
            Insights
        </span>
    </button>
    <ng-container *ngIf="userState$ | async as state">
        <span *ngIf="state.user">
            {{ state.user.email.split("@")[0] }}
        </span>
    </ng-container>
    <span class="example-spacer"></span>
    <span *ngIf="(user$ | async)">{{ userManager.scope }}</span>
    <button
        mat-icon-button
        class="nav-icon"
        aria-label="Log out button"
    >
        <mat-icon class="material-icons-round">logout</mat-icon>
    </button>
    <mat-icon class="isotype" svgIcon="senzary-isotype" />
</mat-toolbar>
