<mat-toolbar>
    <button
        mat-icon-button
        class="nav-icon"
        aria-label="Facility management button"
    >
        <mat-icon class="material-icons-round">apps</mat-icon>
        Overview
    </button>
    <span class="example-spacer"></span>
    <button
        mat-icon-button
        class="example-icon"
        aria-label="Log out button"
    >
        <mat-icon class="material-icons-round">logout</mat-icon>
    </button>
    <mat-icon svgIcon="senzary-isotype" />
</mat-toolbar>
