<fieldset [formGroup]="formGroup">
    <mat-form-field
        *ngFor="let field of fields"
        fxFlex
        class="mat-block"
    >
        <mat-label *ngIf="'label' in field">
            {{ field.label }}
        </mat-label>
        <mat-hint
            *ngIf="'description' in field"
            hintlabel="true"
        >
            {{ field.description }}
        </mat-hint>
        <input
            *ngIf="(!field.input || field.input == 'input')"
            matInput
            required
            [formControl]="formGroup.controls[field.name]"
            [value]="formGroup.get(field.name)?.value" />
        <textarea
            *ngIf="(field.input && field.input === 'textarea')"
            matInput
            [formControl]="formGroup.controls[field.name]"
            required
            [value]="formGroup.get(field.name)?.value"
        ></textarea>
        <mat-select
            *ngIf="(field.type === 'enum')"
            [formControl]="formGroup.controls[field.name]"
            [required]="field.required"
        >
            <mat-option
                *ngFor="let option of field.enumOptions"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-select>
        <mat-select
            *ngIf="(field.input === 'select')"
            [formControl]="formGroup.controls[field.name]"
            [required]="field.required"
        >
            <mat-option
                *ngFor="let option of field.selectOptions"
                [value]="option.value"
            >
                {{ option.label }}
            </mat-option>
        </mat-select>
        <mat-select
            *ngIf="(field.type === 'json' && field.input === 'multi-select')"
            [formControl]="formGroup.controls[field.name]"
            [required]="field.required"
            multiple
        >
            <mat-option
                *ngFor="let option of field.selectOptions"
                [value]="option.value"
            >
                {{ option.label }}
            </mat-option>
        </mat-select>
        <mat-chip-grid
            #chipGrid
            [required]="field.required"
            *ngIf="(field.type === 'json' && field.input === 'chips')"
        >
            <mat-chip-row
                *ngFor="let chip of formControl?.value"
                (removed)="removeChip(chip, field.name)"
                [editable]="true"
                (edited)="editChip($event, chip, field.name)"
            >
                {{ chip }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            <input
                matInput
                placeholder="New item..."
                [matChipInputFor]="chipGrid"
                [matChipInputSeparatorKeyCodes]="[ENTER, COMMA]"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addChip($event, field.name)"
            />
        </mat-chip-grid>
        <mat-error *ngIf="formGroup.get(field.name).hasError('required')">
            A value for {{ field.label }} is required.
        </mat-error>
    </mat-form-field>

</fieldset>